@import url("https://fonts.googleapis.com/css2?family=Anta&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #002e2c;
}

.quote-box {
  background: #fff;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
  border-radius: 0.6rem;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.quote-box h2 {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.quote-box h2::after {
  content: "";
  width: 4.6rem;
  height: 3px;
  border-radius: 3px;
  background: #036f69;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

blockquote {
  font-size: 1.6rem;
  min-height: 6.8rem;
}

blockquote::before,
blockquote::after {
  content: '"';
}

span {
  display: block;
  margin-top: 0.6rem;
  float: right;
  position: relative;
}

span::before {
  content: "";
  width: 1.2rem;
  height: 2px;
  background: #036f69;
  position: absolute;
  top: 50%;
  left: -1.8rem;
}

.btn {
  width: 100%;
  margin-top: 3.1rem;
  display: flex;
  justify-content: center;
}

.btn button {
  background: #036f69;
  color: #fff;
  border-radius: 1.5rem;
  border: 1px solid #036f69;
  width: 9.3rem;
  height: 3.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn .new-quote {
  background: #036f69;
  color: #fff;
}

.btn .new-quote:hover {
  background: transparent;
  color: #333;
}

.btn .copy {
  background: transparent;
  color: #333;
}

.btn .copy:hover {
  background: #036f69;
  color: #fff;
}

.btn .new-quote:hover ~ .copy {
  background: #036f69;
  color: #fff;
}

.btn .copy:hover ~ .new-quote {
  background: #036f69;
  color: #fff;
}

.img {
  font-size: 1.25rem;
  margin-right: 0.6rem;
  color: #036f69;
}

.copied {
  display: none;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

@media (max-width: 445px) {
  .quote-box {
    width: 90%;
  }

  #author {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .btn button {
    width: 100%;
  }

  .copied {
    display: none;
    font-size: 1.2rem;
    /* margin-bottom: 2rem; */
    margin-top: 1.5rem;
  }

  #quote {
    font-size: 1.3rem;
  }
}
